In [1]:
import graphlab as gl

In [2]:
import pandas as pd
import numpy as np

In [6]:
user = pd.read_table('/root/Desktop/ml-100k/u.data', header = None) #reading the users file

In [7]:
user.head()

     0    1  2          3
0  196  242  3  881250949
1  186  302  3  891717742
2   22  377  1  878887116
3  244   51  2  880606923
4  166  346  1  886397596

In [14]:
user.columns = ['user_id', 'movie_id', 'rating', 'timestamp']

In [17]:
user.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [18]:
user.tail()

       user_id  movie_id  rating  timestamp
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

In [21]:
user.shape

(100000, 4)

In [22]:
user.dtypes

user_id      int64
movie_id     int64
rating       int64
timestamp    int64
dtype: object

In [26]:
items = pd.read_table('/root/Desktop/ml-100k/u.item', header = None, sep ='|') #reading the file of the films

In [28]:
items.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [30]:
items.columns = ['movie id', 'movie title', 'release date', 'video release date',
              'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation',
              'Children film', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
              'Film-Noir', 'Horror',  'Musical', 'Mystery',  'Romance', 'Sci-Fi',
              'Thriller', 'War','Western' ]

In [31]:
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children film,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [34]:
r_train = pd.read_table('/root/Desktop/ml-100k/ua.base', header=None)

In [35]:
r_train.head()

   0  1  2          3
0  1  1  5  874965758
1  1  2  3  876893171
2  1  3  4  878542960
3  1  4  3  876893119
4  1  5  3  889751712

In [36]:
r_test = pd.read_table('/root/Desktop/ml-100k/ua.test', header=None)

In [37]:
r_test.head()

   0    1  2          3
0  1   20  4  887431883
1  1   33  4  878542699
2  1   61  4  878542420
3  1  117  3  874965739
4  1  155  2  878542201

In [38]:
r_train.columns = ['user_id', 'movie_id', 'rating', 'timestamp'] #user ratings for training data
r_test.columns = ['user_id', 'movie_id', 'rating', 'timestamp'] #user ratings for testing data

In [39]:
r_train.shape, r_test.shape

((90570, 4), (9430, 4))

In [42]:
train = gl.SFrame(r_train)
test = gl.SFrame(r_test) #loading the training and testing data into SFrame objects

This non-commercial license of GraphLab Create for academic use is assigned to bhavyapopli096@gmail.com and will expire on November 27, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1480376544.log

In [43]:
train.show() #used for viewing the data in SFrame canvas

Canvas is accessible via web browser at the URL: http://localhost:43107/index.html
Opening Canvas in default web browser.

In [45]:
#simple popularity model in which all the users get same recommendation based on the popularity of the movies
popularity= gl.popularity_recommender.create(train, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.260195s

90570 observations to process; with 1680 unique items.

In [47]:
#getting recommendations for specific users
recommender1 = popularity.recommend(users=[1],k=10) #recommends the 10 highest scored items for each user
recommender1.print_rows()

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1656   |  5.0  |  1   |
|    1    |   1536   |  5.0  |  2   |
|    1    |   1500   |  5.0  |  3   |
|    1    |   1599   |  5.0  |  4   |
|    1    |   1293   |  5.0  |  5   |
|    1    |   1467   |  5.0  |  6   |
|    1    |   1201   |  5.0  |  7   |
|    1    |   1189   |  5.0  |  8   |
|    1    |   1122   |  5.0  |  9   |
|    1    |   814    |  5.0  |  10  |
+---------+----------+-------+------+
[10 rows x 4 columns]

In [49]:
r_train.groupby(by='movie_id')['rating'].mean().sort_values(ascending=False).head(30)
#this statement performs the function of taking the movie ratings of all the users for the same film and them sorting them
#and showing the first 30 values

movie_id
1500    5.000000
1293    5.000000
1122    5.000000
1189    5.000000
1656    5.000000
1201    5.000000
1599    5.000000
814     5.000000
1467    5.000000
1536    5.000000
1449    4.714286
1642    4.500000
1463    4.500000
1594    4.500000
1398    4.500000
114     4.491525
408     4.480769
169     4.476636
318     4.475836
483     4.459821
64      4.457364
12      4.386454
603     4.374359
50      4.365657
1524    4.333333
1639    4.333333
1191    4.333333
119     4.333333
178     4.327434
427     4.323232
Name: rating, dtype: float64

In [53]:
#building up collaborative filtering models
#Train Model (jaccard similarity)
jacardsim = gl.item_similarity_recommender.create(train, user_id='user_id', item_id='movie_id', target='rating', similarity_type='jaccard')

#Make Recommendations:
recommender2 = jacardsim.recommend(users=[1,3],k=10)
recommender2.print_rows(num_rows=20)

Recsys training: model = item_similarity

Warning: Ignoring columns timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.127748s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 6.297ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 9.926ms                             | 0.25             | 6               |

| 179.309ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.208867s

+---------+----------+-----------------+------+
| user_id | movie_id |      score      | rank |
+---------+----------+-----------------+------+
|    1    |   423    |  0.165926049684 |  1   |
|    1    |   568    |  0.155188085469 |  2   |
|    1    |   202    |   0.1529813923  |  3   |
|    1    |   403    |  0.149925559532 |  4   |
|    1    |   385    |  0.147816342479 |  5   |
|    1    |   655    |  0.140754747937 |  6   |
|    1    |   393    |  0.130727880556 |  7   |
|    1    |   265    |  0.124395485598 |  8   |
|    1    |   357    |  0.096388053803 |  9   |
|    1    |   550    | 0.0957858764943 |  10  |
|    3    |   328    |  0.124686544592 |  1   |
|    3    |   313    |  0.101335969838 |  2   |
|    3    |   332    |  0.101279365745 |  3   |
|    3    |    12    |  0.10076934912  |  4   |
|    3    |   245    | 0.0975412225181 |  5   |
|    3    |   301    | 0.0965950692242 |  6   |
|    3    |   331    | 0.0964689755982 |  7   |
|    3    |   879    | 0.0889258574356 |  8   |
|    3    |   269    | 0.0881741913882 |  9   |
|    3    |   294    | 0.0861688459461 |  10  |
+---------+----------+-----------------+------+
[20 rows x 4 columns]

In [54]:
#building up collaborative filtering models
#Train Model (pearson similarity)
pearsonsim = gl.item_similarity_recommender.create(train, user_id='user_id', item_id='movie_id', target='rating', similarity_type='pearson')

#Make Recommendations:
recommender3 = pearsonsim.recommend(users=[1,3],k=10)
recommender3.print_rows(num_rows=20)

Recsys training: model = item_similarity

Warning: Ignoring columns timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.159155s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 10.439ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 14.605ms                            | 0                | 0               |

| 445.23ms                            | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.484863s

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1656   |  5.0  |  1   |
|    1    |   1536   |  5.0  |  2   |
|    1    |   1293   |  5.0  |  3   |
|    1    |   1500   |  5.0  |  4   |
|    1    |   1599   |  5.0  |  5   |
|    1    |   1467   |  5.0  |  6   |
|    1    |   1201   |  5.0  |  7   |
|    1    |   1189   |  5.0  |  8   |
|    1    |   1122   |  5.0  |  9   |
|    1    |   814    |  5.0  |  10  |
|    3    |   1656   |  5.0  |  1   |
|    3    |   1536   |  5.0  |  2   |
|    3    |   1293   |  5.0  |  3   |
|    3    |   1500   |  5.0  |  4   |
|    3    |   1599   |  5.0  |  5   |
|    3    |   1467   |  5.0  |  6   |
|    3    |   1201   |  5.0  |  7   |
|    3    |   1189   |  5.0  |  8   |
|    3    |   1122   |  5.0  |  9   |
|    3    |   814    |  5.0  |  10  |
+---------+----------+-------+------+
[20 rows x 4 columns]

In [55]:
#building up collaborative filtering models
#Train Model (cosine similarity)
cosinesim = gl.item_similarity_recommender.create(train, user_id='user_id', item_id='movie_id', target='rating', similarity_type='cosine')

#Make Recommendations:
recommender4 = cosinesim.recommend(users=[1,3],k=10)
recommender4.print_rows(num_rows=20)

Recsys training: model = item_similarity

Warning: Ignoring columns timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.137998s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 6.295ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 10.848ms                            | 0                | 0               |

| 181.468ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.201169s

+---------+----------+----------------+------+
| user_id | movie_id |     score      | rank |
+---------+----------+----------------+------+
|    1    |   423    | 0.983400806671 |  1   |
|    1    |   202    | 0.949590799235 |  2   |
|    1    |   655    | 0.796218333126 |  3   |
|    1    |   403    | 0.765623665038 |  4   |
|    1    |   568    | 0.756362434334 |  5   |
|    1    |   385    | 0.722872027914 |  6   |
|    1    |   265    | 0.648438795605 |  7   |
|    1    |   393    | 0.624321931646 |  8   |
|    1    |   357    | 0.579889190333 |  9   |
|    1    |   483    | 0.500958802818 |  10  |
|    3    |   313    | 0.635376662016 |  1   |
|    3    |   328    | 0.603288030083 |  2   |
|    3    |   315    | 0.542258712378 |  3   |
|    3    |   331    | 0.535507185893 |  4   |
|    3    |   332    | 0.531669611281 |  5   |
|    3    |    50    | 0.505956117402 |  6   |
|    3    |   127    | 0.490971246904 |  7   |
|    3    |    12    | 0.487074868246 |  8   |
|    3    |   895    | 0.480779091066 |  9   |
|    3    |   316    | 0.478543975136 |  10  |
+---------+----------+----------------+------+
[20 rows x 4 columns]

In [58]:
#comparing performances using precision and recall parameters
#precision refers to the number of movies liked to number of movies recommended
#recall refers to ratio of number of likes recommended to the total number of movies liked
performance = gl.compare(test, [popularity, jacardsim, pearsonsim, cosinesim])
gl.show_comparison(performance,[popularity, jacardsim, pearsonsim, cosinesim])

PROGRESS: Evaluate model M0

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    |        0.0        |        0.0        |
|   4    | 0.000265111346766 | 0.000106044538706 |
|   5    | 0.000212089077413 | 0.000106044538706 |
|   6    | 0.000176740897844 | 0.000106044538706 |
|   7    | 0.000151492198152 | 0.000106044538706 |
|   8    | 0.000265111346766 | 0.000212089077413 |
|   9    | 0.000235654530458 | 0.000212089077413 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M1

Precision and recall summary statistics by cutoff
+--------+----------------+-----------------+
| cutoff | mean_precision |   mean_recall   |
+--------+----------------+-----------------+
|   1    | 0.33934252386  |  0.033934252386 |
|   2    | 0.301166489926 | 0.0602332979852 |
|   3    | 0.275715800636 | 0.0827147401909 |
|   4    | 0.251060445387 |  0.100424178155 |
|   5    | 0.234146341463 |  0.117073170732 |
|   6    | 0.219512195122 |  0.131707317073 |
|   7    | 0.208301772459 |  0.145811240721 |
|   8    | 0.198700954401 |  0.158960763521 |
|   9    | 0.189937551549 |  0.170943796394 |
|   10   | 0.182714740191 |  0.182714740191 |
+--------+----------------+-----------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M2

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    | 0.000353481795688 | 0.000106044538706 |
|   4    | 0.000265111346766 | 0.000106044538706 |
|   5    | 0.000212089077413 | 0.000106044538706 |
|   6    | 0.000176740897844 | 0.000106044538706 |
|   7    | 0.000151492198152 | 0.000106044538706 |
|   8    | 0.000132555673383 | 0.000106044538706 |
|   9    | 0.000117827265229 | 0.000106044538706 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M3

Precision and recall summary statistics by cutoff
+--------+----------------+-----------------+
| cutoff | mean_precision |   mean_recall   |
+--------+----------------+-----------------+
|   1    | 0.384941675504 | 0.0384941675504 |
|   2    | 0.33032873807  |  0.066065747614 |
|   3    | 0.288441145281 | 0.0865323435843 |
|   4    | 0.266702014846 |  0.106680805938 |
|   5    | 0.246235418876 |  0.123117709438 |
|   6    | 0.229232944503 |  0.137539766702 |
|   7    | 0.214512952583 |  0.150159066808 |
|   8    | 0.202147401909 |  0.161717921527 |
|   9    | 0.192765405915 |  0.173488865323 |
|   10   | 0.185471898197 |  0.185471898197 |
+--------+----------------+-----------------+
[10 rows x 3 columns]

Model compare metric: precision_recall
Canvas is accessible via web browser at the URL: http://localhost:43107/index.html
Opening Canvas in default web browser.