In [1]:
import pandas as pd
import numpy as np

In [8]:
X = pd.read_csv('#realdonaldtrump_tweets.csv')

In [9]:
X.head()

,Name,Twitter Handle,Total Tweets,Favourites_Count,Followers,User_Id,User_Verified,User Location,Date of Tweet,Tweet Id,Tweet Text,Language,Tweet Source,Tweet Retweet,Tweet Reply To Id,Reply To Name
0,Deplorable Grumpy,443777,89071,13560,5648,587782307,False,NaN,2012-05-22 22:03:23,801636360243134464,RT @amrightnow: #realdonaldtrump American Nigh...,en,Twitter Web Client,1,None,None
1,American Right Now,amrightnow,543453,3636,34518,449110269,False,"New Jersey, USA",2011-12-28 19:09:40,801636048505892864,#realdonaldtrump American Nightmares #military...,en,Tweet Jukebox,1,None,None
2,Wil,Bloggasaurus,39825,5748,3441,385537554,False,"New York, USA",2011-10-05 17:38:43,801635746771795968,RT @Amcboxer1: üêç #NeverRomney üêçüêç\r\n#Transi...,und,Twitter Web Client,3,None,None
3,whitewolf8214,whitewolf8214,37670,99,3005,16385026,False,NaN,2008-09-21 00:00:47,801635540894384128,RT @Amcboxer1: üêç #NeverRomney üêçüêç\r\n#Transi...,und,Twitter for iPhone,3,None,None
4,LaurenüéÉüçÅ,Amcboxer1,24145,8090,4312,2172483070,False,"New York, NY",2013-11-07 19:09:27,801635474758631424,üêç #NeverRomney üêçüêç\r\n#Transition2017 #realD...,und,Twitter for iPhone,3,None,None

In [10]:
X.dtypes

Name                 object
Twitter Handle       object
Total Tweets          int64
Favourites_Count      int64
Followers             int64
User_Id               int64
User_Verified          bool
User Location        object
Date of Tweet        object
Tweet Id              int64
Tweet Text           object
Language             object
Tweet Source         object
Tweet Retweet         int64
Tweet Reply To Id    object
Reply To Name        object
dtype: object

In [11]:
date = X['Date of Tweet']

In [12]:
pd.to_datetime(date,infer_datetime_format=True) #checking for trial

0       2012-05-22 22:03:23
1       2011-12-28 19:09:40
2       2011-10-05 17:38:43
3       2008-09-21 00:00:47
4       2013-11-07 19:09:27
5       2013-05-14 20:50:33
6       2011-08-12 13:58:33
7       2011-12-28 19:09:40
8       2009-02-06 14:17:25
9       2016-08-03 11:19:54
10      2015-05-03 21:55:28
11      2011-12-28 19:09:40
12      2014-10-01 03:10:04
13      2011-12-28 19:09:40
14      2010-06-29 15:55:42
15      2009-01-02 12:37:12
16      2015-10-17 14:23:49
17      2016-07-05 14:34:07
18      2011-04-20 18:12:01
19      2016-10-24 00:20:24
20      2016-02-28 06:40:05
21      2016-02-28 06:40:05
22      2011-02-13 19:16:11
23      2015-12-04 04:25:11
24      2011-12-28 19:09:40
25      2011-12-28 19:09:40
26      2011-06-23 01:13:24
27      2015-10-31 17:17:23
28      2016-07-28 14:48:20
29      2011-02-13 19:16:11
                ...
16854   2011-12-28 19:09:40
16855   2013-01-24 16:44:20
16856   2014-03-19 13:53:28
16857   2009-02-15 03:42:43
16858   2009-05-27 07:47:39
16859   2016-10-22 19:52:48
16860   2014-03-23 02:20:15
16861   2016-06-26 04:37:08
16862   2011-08-26 23:19:59
16863   2009-05-18 02:54:29
16864   2011-04-04 19:06:15
16865   2011-12-28 19:09:40
16866   2016-09-15 15:03:31
16867   2013-04-19 12:16:08
16868   2011-12-28 19:09:40
16869   2013-12-19 20:36:36
16870   2016-07-11 19:35:07
16871   2015-05-10 02:20:39
16872   2016-08-01 14:10:19
16873   2011-12-28 19:09:40
16874   2016-03-03 18:56:16
16875   2009-06-24 15:31:17
16876   2016-09-26 15:28:13
16877   2015-05-03 15:54:10
16878   2016-11-14 15:51:05
16879   2008-12-01 20:30:29
16880   2012-03-01 16:34:50
16881   2015-07-14 05:28:05
16882   2012-09-14 20:18:32
16883   2013-09-05 22:41:12
Name: Date of Tweet, dtype: datetime64[ns]

In [13]:
mydates = []
for dt in date:
    if dt > "2016-01-01 00:01:01":
        mydates.append(dt)
len(mydates)       #checking for trial

3215

In [14]:
pd.to_datetime(X['Date of Tweet'],infer_datetime_format=True) #converting the dates in the original dataframe to required format

0       2012-05-22 22:03:23
1       2011-12-28 19:09:40
2       2011-10-05 17:38:43
3       2008-09-21 00:00:47
4       2013-11-07 19:09:27
5       2013-05-14 20:50:33
6       2011-08-12 13:58:33
7       2011-12-28 19:09:40
8       2009-02-06 14:17:25
9       2016-08-03 11:19:54
10      2015-05-03 21:55:28
11      2011-12-28 19:09:40
12      2014-10-01 03:10:04
13      2011-12-28 19:09:40
14      2010-06-29 15:55:42
15      2009-01-02 12:37:12
16      2015-10-17 14:23:49
17      2016-07-05 14:34:07
18      2011-04-20 18:12:01
19      2016-10-24 00:20:24
20      2016-02-28 06:40:05
21      2016-02-28 06:40:05
22      2011-02-13 19:16:11
23      2015-12-04 04:25:11
24      2011-12-28 19:09:40
25      2011-12-28 19:09:40
26      2011-06-23 01:13:24
27      2015-10-31 17:17:23
28      2016-07-28 14:48:20
29      2011-02-13 19:16:11
                ...
16854   2011-12-28 19:09:40
16855   2013-01-24 16:44:20
16856   2014-03-19 13:53:28
16857   2009-02-15 03:42:43
16858   2009-05-27 07:47:39
16859   2016-10-22 19:52:48
16860   2014-03-23 02:20:15
16861   2016-06-26 04:37:08
16862   2011-08-26 23:19:59
16863   2009-05-18 02:54:29
16864   2011-04-04 19:06:15
16865   2011-12-28 19:09:40
16866   2016-09-15 15:03:31
16867   2013-04-19 12:16:08
16868   2011-12-28 19:09:40
16869   2013-12-19 20:36:36
16870   2016-07-11 19:35:07
16871   2015-05-10 02:20:39
16872   2016-08-01 14:10:19
16873   2011-12-28 19:09:40
16874   2016-03-03 18:56:16
16875   2009-06-24 15:31:17
16876   2016-09-26 15:28:13
16877   2015-05-03 15:54:10
16878   2016-11-14 15:51:05
16879   2008-12-01 20:30:29
16880   2012-03-01 16:34:50
16881   2015-07-14 05:28:05
16882   2012-09-14 20:18:32
16883   2013-09-05 22:41:12
Name: Date of Tweet, dtype: datetime64[ns]

In [55]:
X.head()

,Name,Twitter Handle,Total Tweets,Favourites_Count,Followers,User_Id,User_Verified,User Location,Date of Tweet,Tweet Id,Tweet Text,Language,Tweet Source,Tweet Retweet,Tweet Reply To Id,Reply To Name
0,Deplorable Grumpy,443777,89071,13560,5648,587782307,False,NaN,2012-05-22 22:03:23,801636360243134464,RT @amrightnow: #realdonaldtrump American Nigh...,en,Twitter Web Client,1,None,None
1,American Right Now,amrightnow,543453,3636,34518,449110269,False,"New Jersey, USA",2011-12-28 19:09:40,801636048505892864,#realdonaldtrump American Nightmares #military...,en,Tweet Jukebox,1,None,None
2,Wil,Bloggasaurus,39825,5748,3441,385537554,False,"New York, USA",2011-10-05 17:38:43,801635746771795968,RT @Amcboxer1: üêç #NeverRomney üêçüêç\r\n#Transi...,und,Twitter Web Client,3,None,None
3,whitewolf8214,whitewolf8214,37670,99,3005,16385026,False,NaN,2008-09-21 00:00:47,801635540894384128,RT @Amcboxer1: üêç #NeverRomney üêçüêç\r\n#Transi...,und,Twitter for iPhone,3,None,None
4,LaurenüéÉüçÅ,Amcboxer1,24145,8090,4312,2172483070,False,"New York, NY",2013-11-07 19:09:27,801635474758631424,üêç #NeverRomney üêçüêç\r\n#Transition2017 #realD...,und,Twitter for iPhone,3,None,None

In [15]:
X = X[X['Date of Tweet'] > "2016-01-01 00:00:01"] #taking only the tweets of 2016

In [16]:
len(X) #same number of tuples with date and time of 2016b

3215

In [17]:
X.head()

,Name,Twitter Handle,Total Tweets,Favourites_Count,Followers,User_Id,User_Verified,User Location,Date of Tweet,Tweet Id,Tweet Text,Language,Tweet Source,Tweet Retweet,Tweet Reply To Id,Reply To Name
9,nirmal insan 7,insannirmal7,23270,1273,121,760797334120894464,False,Sec..18..Panipat. ( Haryana),2016-08-03 11:19:54,801632896943407104,RT @insannirmal7: Yes Guru @Gurmeetramrahim Ji...,en,Twitter for Android,8,None,None
17,Carl,cekoonce1,159,39,4,750336964377714688,False,NaN,2016-07-05 14:34:07,801630833408954368,#realDonaldTrump Hillary did not win the popul...,en,Twitter Web Client,0,None,None
19,tammy slater,tammycsl,25,48,3,790347170234839040,False,NaN,2016-10-24 00:20:24,801629619271176192,@realDonaldTrump happy thanksgiving to u also ...,en,Twitter for Android,0,25073877,realDonaldTrump
20,wjkkarma,wjkkarma1,73652,63815,1785,703832021957619712,False,NaN,2016-02-28 06:40:05,801629550983548929,RT @amrightnow: About You #realdonaldtrump #tr...,en,Twitter for Android,2,None,None
21,wjkkarma,wjkkarma1,73652,63815,1785,703832021957619712,False,NaN,2016-02-28 06:40:05,801629421203398656,RT @amrightnow: About You https://t.co/j58e8aa...,en,Twitter for Android,1,None,None

In [18]:
X.to_csv("#realdonaldtrump_tweets.csv") #writing the filtered rows to the csv file